@import url("https://fonts.googleapis.com/css2?family=Urbanist&display=swap");

.icon {
  display: block;
  margin: auto;
  color: #30336b;
  height: 30px;
  width: 30px;
  margin-top: 0.25rem;
}

.values {
  margin-top: 0.5rem;
  font-family: "Urbanist", sans-serif;
  font-weight: 550;
  color: #30336b;
  margin-left: 0.5rem;
}

.description {
  font-family: "Urbanist", sans-serif;
  font-size: 13px;
  color: #30336b;
  margin-left: 0.5rem;
}
